<div class="container mt-4 pb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="mb-3"><%= @product.product_name %></h1>
      <h6 class="mb-3">Product id: #<%= @product.id %></h6>
      <div class="card">
      <% if @product.image.attached? %>
        <%= image_tag url_for(@product.image), class: "card-img-top", alt: @product.product_name %>
      <% elsif @product.image_link.present? %>
        <%= image_tag @product.image_link, class: "card-img-top", alt: @product.product_name %>
      <% else %>
        <%= content_tag(:span, "No image available") %>
      <% end %>

        <div class="card-body">
          <h5 class="card-title"><%= @product.product_name %></h5>
          <p class="card-text"><strong>Price:</strong> $<%= @product.price %></p>
          <p class="card-text"><strong>Rating:</strong> <%= @product.rating %></p>
          <p class="card-text"><strong>Category:</strong> <%= @product.category.present? ? @product.category.category_name : 'No Category' %></p>
          <p class="card-text"><strong>Brand:</strong> <%= @product.brand.brand_name %></p>
          <p class="card-text"><strong>Product Type:</strong> <%= @product.product_type.product_type_name %></p>
          <p class="card-text"><strong>Description:</strong> <%= @product.description %></p>
        </div>
      </div>
    </div>
  </div>
</div>
