<div class="container">
  <h1 class="mt-5">Checkout</h1>

  <!-- Display Invoice -->
  <div class="mt-4">
    <h2>Invoice</h2>
    <% total_price = 0 %>
    <% @cart_items.each do |cart_item| %>
      <% product = cart_item.product %>
      <% quantity = cart_item.quantity %><!-- Quantity is taken from cart item -->
      <% total_product_price = product.price * quantity %>
      <div class="row">
        <div class="col-md-8">
          <p><strong>Product Name:</strong> <%= product.product_name %></p>
          <p><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
          <p><strong>Quantity:</strong> <%= quantity %></p>
          <p><strong>Total:</strong> <%= number_to_currency(total_product_price) %></p>
        </div>
      </div>
      <% total_price += total_product_price %>
    <% end %>
    <div class="row">
      <div class="col-md-8">
        <p><strong>Subtotal:</strong> <%= number_to_currency(total_price) %></p>
        <h3>Taxes:</h3>
        <ul>
          <% tax_rate = tax_rate_for_address(@customer_address) %>

          <% @pst = tax_rate.pst * total_price %>
          <% @gst = tax_rate.gst * total_price %>
          <% @hst = tax_rate.hst * total_price %>
          <li><strong>PST:</strong> <%= number_to_currency(@pst) %></li>
          <li><strong>GST:</strong> <%= number_to_currency(@gst) %></li>
          <li><strong>HST:</strong> <%= number_to_currency(@hst) %></li>
        </ul>
        <p><strong>Grand Total:</strong> <%= number_to_currency(total_price + @pst + @gst + @hst) %></p>
      </div>
    </div>
  </div>

  <!-- Display Customer's Address -->
  <div class="mt-4">
    <h2>Customer Address</h2>
    <% if @customer_address %>
      <div class="row">
        <div class="col-md-6">
          <p><strong>Name:</strong> <%= @customer_address[:name] %></p>
          <p><strong>Address:</strong> <%= @customer_address[:street_address] %></p>
          <p><strong>City:</strong> <%= @customer_address[:city] %></p>
          <p><strong>Province:</strong> <%= @customer_address[:province] %></p>
          <p><strong>Country:</strong> <%= @customer_address[:country] %></p>
          <p><strong>Postal Code:</strong> <%= @customer_address[:postal_code] %></p>
        </div>
      </div>
    <% else %>
      <p>Customer address not available.</p>
    <% end %>
  </div>

  <!-- Place Order Form -->
  <%= form_for @order, url: orders_path do |f| %>
    <!-- Hidden fields to pass the total price, taxes, etc. -->
    <%= f.hidden_field :total_price, value: total_price %>
    <%= f.hidden_field :pst, value: @pst %>
    <%= f.hidden_field :gst, value: @gst %>
    <%= f.hidden_field :hst, value: @hst %>
    <div class="mt-4">
      <%= f.submit 'Place Order', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

